@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  /* width: 1194; tamanhos para usar no f12 do browser
  height: 834; tamanhos
  margin: 0; */

  height: 100vh;
  background-image: linear-gradient(0deg ,#0569c6f9,#1a85d4fc,#30a2e2);
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (width: 780px) and (height: 1024px) {
  /* .App {
    background-color: cyan;
  } */
}